@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
    Layout = "~/Areas/Identity/_AuthLayout.cshtml";
}

<h1>Oprettelse næsten færdig</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
        <p>
            <a id="confirm-link" href="@Model.EmailConfirmationUrl">Tryk her for at aktivere din konto</a>
        </p>
    }
    else
    {
        <p>
            Please check your email to confirm your account.
        </p>
    }
}