@using System.Linq
@using Microsoft.EntityFrameworkCore.Internal
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@using Microsoft.VisualStudio.Web.CodeGenerators.Mvc.View
@model IEnumerable<StudievenDK.Models.Case>

@{
    ViewData["Title"] = "Tilknyttede sager";
}


<link href="~/css/CaseLayout.css" rel="stylesheet" />
<script src="https://unpkg.com/vue"></script>


<h1>Tilknyttede Sager</h1>
<div class="col-3 master">
    @foreach (var item in Model)
    {
        <div class="master-item" data-id="@item.CaseId" ref="get-caseId">
            @item.Subject
        </div>
    }
</div>



<div class="col-7 detail">
    <h2 class="detail-title">@Html.DisplayFor(model => model.GetEnumerator().Current.Subject)</h2>
    <div id="app">
        <table>
            <thead>
            </thead>
            <tbody id="list-cases">
                <tr>
                    <td>
                        <img :src="buildUrl(item.pictureName)" asp-append-version="true" height="250px">
                    </td>
                </tr>
                <tr>
                    <td>Text: {{item.text}}</td>
                </tr>
                <tr class="aboutTxt">
                    <td>
                        Deadline: {{item.deadline}}
                    </td>
                </tr>
                <tr>
                    <td>
                        Fag: {{item.courseName_fk}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="col-2 detail">
    <button label="Edit case" id="Edit-Id" class="CaseBtn">Vis kontaktinfo</button>
    <br />
    <br />
    <form asp-action="LeaveAssignedCase" asp-controller="Cases" method="get">
        <input type="hidden" name="id" id="Delete-Id" />
        <a asp-action="LeaveAssignedCase">
            <button label="Leave assigned case" class="CaseBtn">Forlad sag</button>
        </a>
    </form>
</div>

@section Scripts
{
    <script src="/"></script>
}
