@model StudievenDK.Models.Case

@{
    ViewData["Title"] = "Create";
}

    <head>
        <link href="~/css/CaseStyle.css" rel="stylesheet" />
    </head>

<h1>Opret sag</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Emne</label>
                <input asp-for="Subject" class="form-control" />
                <span asp-validation-for="Subject" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Beskrivelse</label>
                <input asp-for="Text" class="form-control" />
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Fag</label>
                <input asp-for="Course" class="form-control" />
                <span asp-validation-for="Course" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PictureName" class="control-label"></label>
                <input asp-for="PictureName" class="form-control" />
                <span asp-validation-for="PictureName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Opret" class="CaseBtn" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
