
@{
    ViewData["Title"] = "AboutStudieven";
}

<h1>Om Studieven.dk</h1>
<link href="~/css/SharedLayout.css" rel="stylesheet" />
<p class="aboutTxt">
    Det danske samfund bære præg af en præstationskultur, der kan påvirke unge i en negativ retning.
    Bevæger man sig højere op i skolesystemet, på universitetsniveauet, kan man opleve en større tendens til mistrivsel og stresssymptomer.
    De to tendenser har i større grad en sammenhæng, og kan fylde meget i de danske studerenes hverdag.
    En dårlig trivsel kan opstå fra det pres, der er ved at sammenligne faglig niveau med sine medstuderende, og få følelsen af ikke at være god nok. Udover dårlig trivsel, kan følelsen også resultere i stress for den respektive studerende, idet der er et løb i form af at skulle følge med i det faglige. Det sociale har også en betydelig indflydelse på trivsel.
    Har den studerende ikke et stort netværk, kan det være svært at opsøge hjælp. Derfor vil det for studerende med disse problemer, potentielt have stor nytte af en personlig hjælper, til støtte/sparring.
    Aktuelt for studerende på Aarhus Universitet, udbydes en personlig mentorordning. Det praktiske foregår igennem studieadministrationen, hvor det er muligt at opskrive sig til en.
    En problematik med denne form, er at det er en længerevarende proces, at finde en mentor og uden garanti for, at der kan findes en.
    Dette er ikke ideelt da den studerende, i mellemtiden kan falde tilbage fagligt, på grund af den lange ventetid.
    Disse problematikker er noget, som vi i gruppen ser som et generelt problem på Science and Technology, Aarhus Universitet.
    <br /><br />
    Studieven.dk er en webapplikation, som gør det muligt at finde faglig sparring for universitetsstuderende.
    For en bruger på Studieven.dk, vil man kunne oprette en sag, hvor andre brugere vælger at tilknytte sig sagen for at udbyde sin hjælp.
    Den selvsamme bruger, som har oprettet en sag, vil også kunne vælge andre sager som han/hun er faglig stærk i. For at sikre kvalitetssamarbejde for henholdsvis den søgende og den hjælpende, vil systemet indeholde et ratingsystem, som man udfylder i form af thumps up/thumps down efter endt samarbejde.
    Ydermere er det udelukkende personer, som har oprettet en bruger på Studieven.dk, der kan se, oprette og påtage sig sager. Når man opretter en bruger på Studieven.dk, skal man bl.a. udfylde navn, e-mail og studieretning, da det er en væsentlig information, når brugere skal i kontakt med hinanden.
    Derudover er det også muligt for brugere at uploade et profilbillede, da det styrker profilens troværdigheden.
</p>
<div align="center">
    <h4>Bag Studieven.dk</h4> <br/> <br/>
</div>

<div class="images">
    <div class="aboutPic_rowOne">
        <img src="/Image/Thanh.jpg" style="width: 40%; height: 40%;" /> &emsp; &emsp;&emsp; &emsp;
        <img src="/Image/Nikolaj.jpg" style="width: 40%; height: 40%;" /> <br /><br />
    </div>
    <div class="aboutPic_rowTwo">
        <img src="/Image/Randi.jpg" style="width: 40%; height: 40%;" /> &emsp; &emsp;&emsp; &emsp;
        <img src="/Image/Mads.jpg" style="width: 42%; height: 40%;" /> <br /><br />
    </div>
    <div class="aboutPic_rowThree">
        <img src="/Image/Jonas.jpg" style="width: 40%; height: 40%;" /> &emsp; &emsp;&emsp; &emsp;
        <img src="/Image/Trang.jpg" style="width: 460px; height: 38%;" /> <br /><br />
    </div>
    <div class="aboutPic_rowFour">
        <img src="/Image/Alexander.jpg" style="width: 40%; height: 38%;" /> <br /><br />
    </div>
</div>
