body {
}


.master {
    padding: 25px;
    border: none;
    box-sizing: border-box;
    height: 100vh;
    overflow-y: auto;

}

/* scrollerbar design  overflow laver scrollable*/
    .master::-webkit-scrollbar {
        background-color: #ffffff;
    }
    /*.master::-webkit-scrollbar-button {
        background-color: #278cca;
    }*/

    .master::-webkit-scrollbar-thumb {
        background-color: #278cca;
    }

    .master::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    }
    


.master-item {
    font-size: 24px;
    border-bottom: 2px solid #000000;
    padding: 15px;
    /*background: white;
    color: #32cd32;*/
}

.master-item:hover,
.active-item {
    background: #2d9b72;
    cursor: pointer;
}


.detail {
    float: right;
    padding: 25px;
    box-sizing: border-box;
    position: static;
    /*color: #4cd4b0;*/
    height: 100vh;
    background-color: white;
}


.CaseBtn {
    background-color: #278CCA; /* Blue */
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 8px;
    cursor: pointer;
}

    .CaseBtn:hover {
        background-color: #64BDA1; /* Green */
        color: white!important;
        text-decoration: none!important;
    }

a.CaseBtn {
    background-color: #278CCA; /* Blue */
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 8px;
    cursor: pointer;
}

    a.CaseBtn:hover {
        background-color: #64BDA1; /* Green */
        color: white !important;
        text-decoration: none !important;
    }

/*.PicBtn {
    background-color: #278CCA; /* Blue */
    /*border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 12px;
    -webkit-user-select: none;
}*/
.textboxTextCase {
    min-height: 150px !important;
    max-height: 500px !important;
    overflow-y: auto;
}

.inputBoxes {
    width: 70%!important;
}

[class*="col-"] {
    width: 100%;
    float: left;
}

.btns {
    background-color: #278cca;
    color: white;
}