body {
}


.CaseBtn {
    background-color: #278CCA; /* Blue */
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 12px;
}

    .CaseBtn:hover {
        background-color: #64BDA1; /* Green */
        color: white;
    }

.textboxTextCase{
    height: 100px;
}

    /*Kig på dette igen!!! med knapperne ved siden af*/
[class*="col-"] {
    width: 100%;
    float: left;
}

.col-4 {
    width: 25%;
}

.col-10 {
    width: 70%;
}
.CaseBtn:hover {
    background-color: #64BDA1; /* Green */
    color: white;
}

.btns {
    background-color: #278cca;
    color: white;
}