@model StudievenDK.Controllers.MainlistViewModel
    <div class="navbar">
        <form asp-controller="Mainlist" asp-action="Index">
            <input type="text" placeholder="Search.." name="SearchString">&nbsp;&nbsp;
            <div class="dropdown">
                @*<button class="dropbtn">Dropdown
                <i class="fa fa-caret-down"></i>
            </button>*@
                <div class="dropdown-content">
                    <div class="header">
                        <h2>Mega Menu</h2>
                    </div>
                    <div class="row">
                        <div class="column">
                            <h3>Category 1</h3>
                            <a href="#">Link 1</a>
                            <a href="#">Link 2</a>
                            <a href="#">Link 3</a>
                        </div>
                        <div class="column">
                            <h3>Category 2</h3>
                            <a href="#">Link 1</a>
                            <a href="#">Link 2</a>
                            <a href="#">Link 3</a>
                        </div>
                        <div class="column">
                            <h3>Category 3</h3>
                            <a href="#">Link 1</a>
                            <a href="#">Link 2</a>
                            <a href="#">Link 3</a>
                        </div>
                    </div>
                </div>
            </div>
            &nbsp;&nbsp<input type="submit" value="Filter" />&nbsp;&nbsp;
        </form>
    </div>

<table class="table">
    <thead>
        <tr>
            <th>
                Alle sager
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Cases)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Text)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Subject)
                </td>
                <td>
                    <a>1</a>
                    <a>2</a>
                </td>
            </tr>
        }
    </tbody>
</table>

